.jumbotron {
    background-color: navy;
    color:lightgray
}

.min-100-vh {
    min-height: 100vh;
  }
  
.weather-icon {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    float: left;
}

.forecast-card-div {
    background-color: navy;
    color: whitesmoke;
    padding: 5px;
}